argparse==1.2.1
cliff>=1.7.0,<=1.11.1
pbr>=0.6,!=0.7,<1.0
# NOTE(prmtl): specified version of keystoneclient doesn't
# work properly with 2.0.0 version of oslo.i18n which is
# released on pypi
# See: https://bugs.launchpad.net/fuel/+bug/1469050
oslo.i18n>=1.0.0,<=1.6.0
python-keystoneclient>=0.10.0,<=1.4.0
PyYAML>=3.1.0,<=3.10
requests>=2.1.0,!=2.4.0
six>=1.7.0
