hacking>=0.10.0,<0.11
mock>=1.0,<1.1.0
requests-mock>=0.6.0 # Apache-2.0
testrepository>=0.0.18
unittest2

# Files beyond this line are not in Global Requirements list
# and must be added there.
pyprof2calltree>=1.3.2
gprof2dot>=2014.09.29
