Source: python-fuelclient
Section: Utilities
Priority: extra
Maintainer: Mirantis Producta <product@mirantis.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools (>= 23~),
               python-all,
               python-pbr (>= 0.8),
               python-setuptools
Standards-Version: 3.9.6
Homepage: mirantis.com

Package: python-fuelclient
Architecture: all
Depends: python-argparse,
    python-cliff (>= 1.7.0),
    python-keystoneclient,
    python-oslo-config,
    python-oslo-i18n,
    python-oslo-serialization,
    python-oslo-utils,
    python-pbr (>= 0.8),
    python-requests,
    python-six,
    python-stevedore,
    python-tz,
    python-yaml,
    ${python:Depends}
Description: Console utility for working with fuel rest api
 Console utility for working with fuel rest api
